
name: Terraform Deploy

on:
  push:
    branches:
      - main

env:
  TF_VAR_aws_region: us-east-1

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Environment
        uses: ./.github/actions/setup-env
        env:
          AWS_ROLE: arn:aws:iam::150457926438:role/website_actions
          AWS_REGION: ${{ env.TF_VAR_aws_region }}

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=anyenk-terraform-website" \
            -backend-config="key=terraform.tfstate" \
            -backend-config="region=${{ env.TF_VAR_aws_region }}" \
            -backend-config="encrypt=true"
